[project]
name = "synth-sdk"
version = "0.0.4"
description = ""
authors = [{name = "Synth AI", email = "josh@usesynth.ai"}]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "opentelemetry-api",
    "opentelemetry-sdk",
    "pydantic",
    "requests",
    "asyncio",
]
classifiers = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv.sources]

[tool.hatch.build.targets.wheel]
packages = ["src/synth_sdk"]