#apropos-ai==0.4.5
fastapi>=0.115.0
opentelemetry-api>=1.27.0
opentelemetry-instrumentation>=0.48b0
opentelemetry-sdk>=1.27.0
pydantic>=2.9.2
asyncpg>=0.24.0

supabase>=2.8.1
uvicorn>=0.15.0
redis>=4.0.0
python-dotenv>=0.19.0
python-jose[cryptography]>=3.3.0
passlib>=1.7.4
python-multipart>=0.0.5
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-env==1.1.5


prefect>=3.0.4
psycopg2-binary==2.9.6
pydantic-settings>=2.5.2
argon2-cffi>=23.1.0
modal>=0.64.159
loguru>=0.7.2
alembic>=1.13.3
zyk>=0.2.10
#synth_sdk>=0.2.61
#smallbench>=0.2.11
